@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

/*! CSS reset */
*,:after,:before{box-sizing:border-box}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}
a:hover,a:focus;a:active,button:active,button:focus{outline:0}
button:focus, textarea:focus {outline:0}

/* hilite: #F15743 */

html {
  color: #000;
  font: caption;
  padding: 0px;
  width:100%;
}
body {
  background: #fff;
  background-size: cover;
	font-family: 'Fugaz One';
	font-size: 16px;
	background-image: url(../img/main-bg.jpg);
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100%;
	overflow-x: hidden;

}

input {
	font-family: 'Fugaz One';	
}

a {
  text-decoration: none;
}

p {
	font-size: 1.25em;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

h2 {
	font-size: 20px;
}

#main {
	position: relative;
	min-height: calc(100vh - 40px);
	background: transparent;
}

.app-container {
	position: relative;
  min-height: calc(100vh - 40px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 40px);
  max-width: 1040px;
/*   border: 1px dotted pink; */
}

.app-content {
	width: 100%;
}

header {
	position: relative;
	align-self: flex-start;
	width:100%;
  padding: 0;
  margin-top: 5vw;
  z-index:10;
  border-radius: 6px;
}

header .site-logo {
	position: relative;
}

header .site-logo h1 {
	position: relative;
	font-size: 6em;
  background: white;
  display: inline-block;
  line-height: 0.4;
  vertical-align: baseline;
  box-shadow: 0 0.25em 1em 0 rgba(50,50,50,0.3);
  margin:0;
  padding: 0 0 0.4em 10em;
  left: -10em;
}

header .site-logo h1 > span {
	color: #F15743;
}

header .site-logo .logo {
	margin-right: 20px;
}

header h2 {
	position: relative;
	font-size: 2em;
	display: inline-block;
	color:#36B325;
	line-height: 1.5;
	background: black;
	margin: 0;
	width: 34em;
  padding: 0.25em 20em 0.4em 0;
  text-align: left;
	top: -0.25em;
	left: 13em;
  box-shadow: 0 0.5em 1em 0 rgba(50,50,50,0.3);

}
header h2:first-line {
	line-height: 0.45;
}
footer {
  padding: 10px;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.5);
  display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
} 

footer p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}

footer img {
	display: inline-block;
	margin-left:5px;
}

footer span,
footer span a {
	position: relative;
	display: flex;
	align-items: center;
	background: #bbb;
	color:white;
}
footer span a {
	margin-left: 10px;
}

footer span:first-child {
	padding-left: 10em;
	padding-right: 0.5em;
	left: -10em;
}

footer span:last-child {
	padding-right: 10em;
	padding-left: 0.5em;
	right: -10em;
	
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 3em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.main-pane {
	position:relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform-style: preserve-3d;
}

/*...... I/O .......*/

.montageImage {
	display: block;
	margin: 2em auto;
	border: 1px solid white;
	width: 95%;
	max-width: 720px;
	box-shadow: 0 2em 3em -0.5em rgba(50,50,50,0.4), 0 2em 3em 3em rgba(255,255,255,0.7);
}
/*...... Buttons .......*/


button,
.btn {
	height: 80px;
	display: inline-block;
	background: #F63D00; /*linear-gradient(225deg, #7b37ae,#e81633,#f9d002)  #F15743 */;
	border: none;
	position: relative;
	font-family: 'Fugaz One';	
	text-transform: uppercase;
	border-radius: 0.2em;
	box-shadow: 0 2em 3em -0.5em rgba(50,50,50,0.3);

}
.btn-text {
	padding: 25px 50px;
	color: white;
	font-size: 20px;
}

.btn-icon {
	width: 80px;
}

.btn-icon:disabled {
	opacity: 0.6;
}

.btn-generate {
	position: relative;

}

.btn-copy,
.btn-download {
	margin-left: 2px;
}

.btn-icon {
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
	color: transparent;
}
.btn-icon:hover:before {
	opacity:1;
}
.btn-icon:before {
	color: white;
	background: black;
	position:absolute;
	top: -33px;
	left:0;
	right:0;
	margin:0 auto;
	padding: 10px 0;
	opacity:0;
	text-align: center;
	transition: opacity 0.4s;
}

.btn-download {
	background-image: url(../img/icon-download.svg);
}
.btn-download:before {
	content:'DOWNLOAD';
}
.btn-copy {
	background-image: url(../img/icon-copy.svg);
}
.btn-copy:before {
	content:'COPY';
}

/*...... Index Page .......*/

.index-page input[type="text"] {
	align-self: flex-start;
  text-align: center;
	font-family: 'Fugaz One';	
  font-size: 3em;
  padding: 0.25em 0.25em 0.2em 0.25em;
  border: 5px solid #F63D00;
  box-shadow: 0 2em 3em -0.5em rgba(50,50,50,0.3);
  transform: rotateX(90deg);
  animation: rotateIn 1s ease-out 1s forwards;
  background: transparent;
  width: 10em;
}

@keyframes rotateIn {
	0% { transform: rotateX(90deg)}
	100% { transform: rotateX(0deg)}
}

input[type="text"]:focus {
	outline: 0;
}

.index-page .btn-text {
	display: block;
	align-self: flex-end;
	cursor: pointer;
}

.index-page .btn-text:disabled {
	cursor: not-allowed;
}

.index-page label {
	height: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  cursor: pointer;
  font-size: 1.5em;
}

.selectorBox {
	background: white;
	box-shadow: 0em 0.25em 1em 0em rgba(0,0,0,0.2) inset;
	width: 100%;
	max-width: 500px;
	align-self: center;
	margin: 2em 0;
}

.index-page label .indicator {
	background:transparent;	
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 2em 3em 2em 0em;
	border-color: transparent transparent transparent transparent;
}

.index-page label input[type="radio"] {
	display: none;
}

.index-page label input:checked ~ .indicator {
	border-color: transparent #36B325 transparent transparent ;
}
.index-page label input:checked ~ span {
	background: #36B325;
	text-align: right;
}
.index-page .btn {
	padding-top: 1.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F63D00;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #F63D00;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #F63D00;
}
:-moz-placeholder { /* Firefox 18- */
  color: #F63D00;
}

/*...... Auth Page .......*/

.auth-page .main-pane {
	align-items: center;
	margin: 2em 0;
}

.auth-page .main-pane h2 {
	font-size: 3em;
  background: black;
  color: white;
  padding: 0 1em;
  margin-bottom: 0.25em;
}

.auth-page .button-container {
	text-align: center;
}

.loading-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*...... Loader .......*/


.loader {
	margin-top: 10vh;
	margin-bottom:  10vh;
}

.loader,
.loader .container,
.loader .container-shadow {
  position: relative;
  width: 132px;
  height: 100px;
}

.loader .container, 
.loader .container-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: skew(-30deg) rotate(30deg);
          transform: skew(-30deg) rotate(30deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 150px;
          perspective: 150px;
}
.loader .square {
  width: 34px;
  height: 24px;
}
.loader .container .square {
  background: #F63D00;
  box-shadow: 10px 10px 10px 0 rgba(50, 50, 50, 0.1);
}
.loader .container .square:nth-child(1) {
  -webkit-animation: translate 2s infinite 0.75s;
          animation: translate 2s infinite 0.75s;
}
.loader .container .square:nth-child(2) {
  -webkit-animation: translate 2s infinite 1.5s;
          animation: translate 2s infinite 1.5s;
}
.loader .container .square:nth-child(3) {
  -webkit-animation: translate 2s infinite 2.25s;
          animation: translate 2s infinite 2.25s;
}
.loader .container .square:nth-child(4) {
  -webkit-animation: translate 2s infinite 3s;
          animation: translate 2s infinite 3s;
}
.loader .container .square:nth-child(5) {
  -webkit-animation: translate 2s infinite 3.75s;
          animation: translate 2s infinite 3.75s;
}
.loader .container .square:nth-child(6) {
  -webkit-animation: translate 2s infinite 4.5s;
          animation: translate 2s infinite 4.5s;
}
.loader .container .square:nth-child(7) {
  -webkit-animation: translate 2s infinite 5.25s;
          animation: translate 2s infinite 5.25s;
}
.loader .container .square:nth-child(8) {
  -webkit-animation: translate 2s infinite 6s;
          animation: translate 2s infinite 6s;
}
.loader .container .square:nth-child(9) {
  -webkit-animation: translate 2s infinite 6.75s;
          animation: translate 2s infinite 6.75s;
}
.loader .inner {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 0;
  left: 0;
}
.loader .container-shadow .square {
  background: #ddd;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes translate {
  0%, 50%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
    background: #ff9877;
  }
}

@keyframes translate {
  0%, 50%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-5px, -5px);
            transform: translate(-5px, -5px);
    background: #ff9877;
  }
}





/*...... Status Message .......*/


.statusMessage {
	position: absolute;
	top: 128px;
	left: 50%;
	transform: translateX(-50%);
	background: #F15743;
	color: white;
	padding: 10px;
	z-index: 20;
	font-size: 16px;
	opacity:0.01;
	transition: opacity 500ms ease-in;
	pointer-events: none;
	width: 95%;
	max-width: 500px;
	text-align: center;
/*   animation: fadeInOut 3s linear forwards; */

}

.anim-enter {
  opacity: 0.01;
}

.statusMessage.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
/* 	animation: fadeInOut 3s linear forwards; */
}

.statusMessage.anim-leave {
  opacity: 1;
}

.statusMessage.anim-leave.anim-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
/* 	animation: fadeInOut 3s linear forwards; */

}

@keyframes fadeInOut {
	0,100% {opacity: 0}
	10%,80% {opacity: 1}
}

@media (max-width:900px) {
	body {
		font-size: 12px;
		overflow-y: auto;
	}
	h2 {
		font-size: 15px;
	}
	nav.main-menu {
		position: relative;
		top: 20px;
		height: auto;
		min-height: 0;
		width:100%;
	}
	nav.main-menu a {
		display: inline-block;
		width:25%;
		padding: 1.7em 0 0 0;
	}
	.main-pane {
		margin: 20px 0 0 0;
	}

}

@media (max-width:710px) {
	header .site-logo h1 {
		font-size: 3.5em;
	}
	header h2 {
		display: none;
	}
	input[type=range] {
		width: 70%;
		margin: 0 0 50px 20%;
	}
}